.first{
    background-image: url(2.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-image: center;
   
}
.first:after{
    content: " ";
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.472);
    position: absolute;
    top: 0;
    left: 0;

}
.first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 111;
}
.second-section{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.second-section h1{
    font-size: 30px;
}
.second-section img{
    width: 100px;
    object-fit: cover;
    height: 100px;
    border: solid white 2px;
}
.br-b{
    border: solid blue 3px;
}
.hh{
    min-height: 100vh;
}
.sec-sec{
    width: 100%;
    min-height: 500px;
    background-image: url(3.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}
.h{
    min-height: 500px;
}
.third{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.third img{
    width: 300px;
    height: 300px;
    object-fit: cover;

}


@media only screen and (max-width:630px) {
    .third{  
        text-align: start;
    }
    .third img{
        width: 200px;
        height: 200px;
    }


}

.fourth{
    width: 100%;
    min-height: 500px;
    background-image: url(12.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-image: center;

}
.f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    text-align: center;
}
.f{
    color: white;
}
.section{
    background-color: rgb(50, 4, 4);
    color: white;
}